@{
    ViewBag.Title = "Home Page";
}
@using HaloMondays.Models
@model HaloMondays.ViewModels.MatchDateViewModel

<div class="jumbotron">
    <h1 style="text-align: center;">OH PLAAAYEEEDD DAVEEEE</h1>
    <img class="img-responsive center-image" src="https://th.bing.com/th/id/R0d09aba871160fd08535b69a8d8dd92f?rik=lzsPX%2fDUhltlFQ&riu=http%3a%2f%2fcdn.ebaumsworld.com%2fpicture%2fhaze191588%2frealisticteabag.gif&ehk=NfkSByrM43O7ZZxYtnmLwdQbXjVF%2bRxQUi7YVPdL3cc%3d&risl=&pid=ImgRaw" />
    <br />
    <p style="text-align: center;">Last updated: @Model.LastUpdated</p>

    <form class="form-inline text-center" role="form" action="/Home/MatchDate">
        <div class="form-group">
            <label class="" for="MatchDates">Data date range</label>
            @Html.DropDownListFor(x => Model.SelectedMatchDate, new SelectList(Model.MatchDates, "Value", "Text", Model.SelectedMatchDate), "- Select Match Date -", htmlAttributes: new { @class = "form-control", @id = "MatchDates" })
        </div>
        <button type="submit" class="btn btn-default">Go</button>
        <p style="padding-top:10px; margin-bottom:0px;"><a href="/">Back to all dates</a></p>
    </form>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Rankings</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Gamertag</th>
                    <th>Kills</th>
                    <th>Deaths</th>
                    <th>K/D Ratio</th>
                    <th>Assists</th>
                    <th># of Games</th>
                </tr>
            </thead>
            <tbody>
                @{ var rank = 1; }
                @foreach(var entry in Model.OverallRankingTablesByMatchDate)
                {
                    <tr>
                        <td>@rank</td>
                        <td>@entry.Gamertag</td>
                        <td>@entry.TotalKills</td>
                        <td>@entry.TotalDeaths</td>
                        <td>@entry.KDRatio</td>
                        <td>@entry.TotalAssists</td>
                        <td>@entry.GamesPlayed</td>
                    </tr>

                    rank++;
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <h2>Results</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Gamertag</th>
                    <th>Result</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Model.ResultsSummariesByMatchDate)
                {
                    <tr>
                        <td>@entry.Gamertag</td>
                        <td>@entry.Result</td>
                        <td>@entry.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <h2>Performance Per Map</h2>

        @foreach (var perf in Model.MapRankingsByMatchDate)
        {
            var rankPerMap = 1;
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Gamertag</th>
                        <th>MapName</th>
                        <th>AverageKD</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in perf.MapPerformanceSummariesByMatchDate)
                    {
                        <tr>
                            <td>@rankPerMap</td>
                            <td>@entry.Gamertag</td>
                            <td>@entry.MapName</td>
                            <td>@entry.AverageKD</td>
                        </tr>
                        rankPerMap++;
                    }
                </tbody>
            </table>
        }

    </div>
</div>